## main

<h2>
Alice and Bob has robbed the Bank of Canada of $10Million bucks :( Now, they are trying to get away!
</br>

Fortunately, the RCMP has tracked them down, but where's the loot?
</br>

The RCMP has decided to interrogate Alice and Bob separately.
</br>

If Alice and Bob both stay quiet, they will be freed and will split the $10M. ($5M each)
</br>
If Alice rats out Bob while Bob's silent, Alice will end up with the $2M she stashed away in her igloo. Bob will go to jail.
</br>
If Bob rats out Alice while Alice's silent, Bob will end up with the $2M he stashed away in the beaver dam. Alice will go to jail.
</br>
If Alice and Bob both rats each other out, they will both go to jail.
</br>
</h2>

<h1>
Alice needs your help. What should she do?
</h1>

<h1>
<a id="cooperate" href="/cooperate">Stay quiet</a>
</br>
<a id="betray" href="/betray">Rat him out!</a>
</h1>

<h3 id="results">
<% if (game.getMyAction() == 'cooperate' && game.getFriendAction() == 'cooperate') { %>
      (+$5M) WOOT! Alice and Bob worked well together to dodge the coppers.
<% } else if (game.getMyAction() == 'cooperate' && game.getFriendAction() == 'betray') { %>
      Alice kept her mouth closed but Bob betrayed her :(
<% } else if (game.getMyAction() == 'betray' && game.getFriendAction() == 'betray') { %>
      Two rats don't make a right. Both Alice and Bob goes to jail for a long time.
<% } else if (game.getMyAction() == 'betray' && game.getFriendAction() == 'cooperate') { %>
      (+$2M) Alice played Bob like a doll. Well done!
<% } %>
    <ul>
        <li>Alice's winnings: $<%= game.getMyWinnings() %></li>
        <li>Bob's winnings: $<%= game.getFriendWinnings() %></li>
<!--
        <li>Alice's action: <%= game.getMyAction() %></li>
        <li>Bob's action:  <%= game.getFriendAction() %></li>
-->
    </ul>
</h3>
